{% load sitetree %}
<ul>
	{% for item in sitetree_items %}
	<li>
        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>
        <form method="post" action="">
            {% csrf_token %}
                <table>
                    <tr>
                        <input type='hidden' name='tree' value="{{ item.tree.id }}" />
                        <input type='hidden' name='parent' value="{{ item.id }}" />
                        <td><input type="text" name="group name" value=""></td>
                        <td><input class="btn btn-success btn-sm" type="submit" value="create child" /></td></form>  
                    </tr> 
                </table>
        </form>
		{% if item.has_children %}
			{% sitetree_children of item for menu template "sitetree/menu.html" %}
		{% endif %}
	</li>
	{% endfor %}
</ul>