{% extends 'group_base.html' %}
{% block page %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

    <form method="post">
        {% csrf_token %}
        <div class="ui-widget">
            <label for="emails">Email: </label>
            {{form.email}}
        </div>
        <label for="member_choices">Member choices: </label>
        {{form.member_choice}}
        <input class="btn btn-success btn-sm" type="submit" value="Add member" />
    </form>

<script type="text/javascript">
    $(document).ready(function(){
        var location_input=$('input[id="autocomplete-email"]');
        location_input.autocomplete({
          source: "/api/get_email_addresses/{{parent.id}}",
          minLength: 2
        });
      } );

      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
</script>
{% endblock %}

