{% extends 'base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/divtree.css' %}">
{% block pagecss %}
{% endblock %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/divtree.js' %}"></script>
{% block pagejavascript %}
{% endblock %}
{% endblock %}

{% block tree_view %}

<nav class="sidebar">
    <div class="panel panel-default">
        <ul class="treeview">
            {% load mptt_tags %}
            {% recursetree nodes %}
            <li><a href="/group{{ node.field_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
    </div>
</nav>



{% endblock %}