{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/divtree.css' %}">
{% block pagecss %}
{% endblock %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<!-- <script src="{% static 'js/divtree.js' %}"></script> -->
{% block pagejavascript %}
{% endblock %}
{% endblock %}

{% block tree_view %}
    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="treeview sidebar-nav">
                {% load mptt_tags %}
                {% recursetree nodes %}
                    <li><a href="/group/{{ node.id }}">{{ node.name }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="list children">{{ children }}</ul>
                    {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block group_view %}
                {% endblock %}    
                {% block page %}
                {% endblock %}
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>

    </div>

    <script src="{% static 'js/popper.min.js' %}"></script>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
{% endblock %}