
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>Group Builder</title>

	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Group builder</a>
	    </div>

	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/my_groups">My groups</a></li>
	      <li><a href="/participating_groups">Participating groups</a></li>
	      <li><a href="/invitations">Invitations</a></li>
	      <li><a href="/settings">Notifications</a></li>
	      <li><a href="/create/group">Create new group</a></li>
	    </ul>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/home">home</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Settings</a></li>
	            <li class="divider"></li>
	            <li><a href="/logout">Logout</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>

	</nav>

		{% block group_view %}
	    {% endblock %}
		{% block tree_view %}
		{% endblock %}
	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
	    {% endblock %}

	</body>

	</html>
