{% extends 'base.html' %}

{% block tree_view %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/divtree.css' %}">
<link rel="js" href="{% static 'js/divtree.js' %}">

<nav class="sidebar">
    <div class="panel panel-default">
        <ul class="treeview">
            {% load mptt_tags %}
            {% recursetree nodes %}
            <li><a href="/group{{ node.field_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
    </div>
</nav>

{% endblock %}