{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="home">
    {% load mptt_tags %}
        {% recursetree nodes %}
        <li>
            <table>
                <tr>
                   <form> <td><a href="/group{{ node.field_url }}"> {{ node.name }}</a></td></from>
                </tr> 
                    </table>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
            </li>
        {% endrecursetree %}
</div>
</div>
</div>
{% endblock %}
<!-- 
                    <form method="post" action="" type = 'hidden'>
                        {% csrf_token %}
                        <input type='hidden' name='parent' value="{{ node.id }}" />
                        <td><input type="text" name="name" value=""></td>
                        <td><input class="btn btn-success btn-sm" type="submit" value="create child" /></td>
                    </form>   -->
