{% extends 'group_base.html' %}
{% block page %}
<table>
    <tr>    
        <td><form action="{{parent.id}}/add">  <input class="btn btn-success btn-sm" type="submit" value="Add members" /></form></td>
        <td><form action="manage">  <input class="btn btn-success btn-sm" type="submit" value="Manage members" /></form></td>
    </tr>
</table>
    <div class="list">
        {% for member in members %}
             <a href="#" class="list-group-item">{{member.user__first_name}} {{member.user__last_name}}     email: {{member.user__email}} permission: {{member.permission}}</a>
        {% endfor %}
        <p><b>invited members</b></p>
        {% for invite in invites %}
            <a href="#" class="list-group-item">{{invite.email}} permission: {{invite.permission}}</a>
        {% endfor %}
    </div>
{% endblock %}

