{% extends 'group_base.html' %}
{% block page %}
<table>
    <tr>    
        <td><form action="{{parent.id}}/add">  <input class="btn btn-success btn-sm" type="submit" value="Add members" /></form></td>
        <td><form action="manage">  <input class="btn btn-success btn-sm" type="submit" value="Manage members" /></form></td>
    </tr>
</table>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Member type</th>
      </tr>
    </thead>
    <tbody>
    {% for member in members %}
      <tr class='clickable-row' href='#'>
        <td>{{member.user__first_name}}</td>
        <td>{{member.user__last_name}}</td>
        <td>{{member.user__email}}</td>
        <td>{{member.permission}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Member type</th>
      </tr>
    </thead>
    <tbody>
    {% for invite in invites %}
      <tr class='clickable-row' href='#'>
        <td>{{invite.email}}</td>
        <td>{{invite.permission}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).attr('href');
    });
});
</script>
<!-- <table>
    <tr>    
        <td><form action="{{parent.id}}/add">  <input class="btn btn-success btn-sm" type="submit" value="Add members" /></form></td>
        <td><form action="manage">  <input class="btn btn-success btn-sm" type="submit" value="Manage members" /></form></td>
    </tr>
</table>
    <div class="list">
        {% for member in members %}
             <a href="#" class="list-group-item">{{member.user__first_name}} {{member.user__last_name}}     email: {{member.user__email}} permission: {{member.permission}}</a>
        {% endfor %}
        <p><b>invited members</b></p>
        {% for invite in invites %}
            <a href="#" class="list-group-item">{{invite.email}} permission: {{invite.permission}}</a>
        {% endfor %}
    </div> -->
{% endblock %}

