{% extends 'group_base.html' %}

{% block js_head %}
<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    header: {
        left: 'prev, today',
        center: 'title',
        right : 'month, agendaWeek, list, next'
    },
    firstDay: 1,
    weekNumbers: true,
    defaultView: 'agendaWeek',
    dayClick: function(date, jsEvent, view) {
        window.location = "/create/event/{{parent.id}}";

    },
    events:      [
    {% for event in events %}
        {
            title:  'My Event',
            start:  "{{event.start_date}}T{{event.start_time}}",
            end:  "{{event.end_date}}T{{event.end_time}}",
            allDay: false

        },
    {% endfor %}
    ]
})

});</script>
{% endblock %}

{% block page %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/fullcalendar.min.css' %}"/>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<div id='calendar'></div>
{% endblock %}
